<div class="container-fluid blockcards  ">
  <div class="row text-center cards ">
    <div class="card " style="width: 18.5rem;">
      <img src="assets/images/Знімок екрана 2021-09-24 о 12.54.35.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Angular list of prohibited words</h5>
        <a [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active" class="btn details">details</a>
      </div>
    </div>
    <div class="card" style="width: 18.5rem ;">
      <img src="assets/images/Знімок екрана 2021-09-24 о 12.58.15.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title ">Angular task list</h5>
        <a [routerLink]="[ '/works/userslist' ]" routerLinkActive="active" class="btn details">details</a>
      </div>
    </div>
    <div class="card" style="width: 18.5rem;">
      <img src="assets/images/Знімок екрана 2021-09-24 о 13.07.15.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Angular users list</h5>
        <a [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active" class="btn details">details</a>
      </div>
    </div>
    <div class="card" style="width: 18.5rem;">
      <img src="assets/images/Знімок екрана 2021-09-25 о 01.42.05.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Angular phone book</h5>
        <a [routerLink]="[ '/works/phonebook' ]" routerLinkActive="active" class="btn details">details</a>
      </div>
    </div>
