.lastWorks {
  margin: 0 5px 0px 0;
  color: black;
}

.nav-third {
  display: flex;
  width: 72%;
  justify-content: space-between;
}

ul {
  padding-bottom: 0;
}

a:hover {
  padding-bottom: 15px;
}

.backToHome {
  color: #e82c56;
}

.active {
  color: #4CAF50 !important;
  padding-bottom: 15px;
}

@media(max-width: 1400px) {
  .nav-third {
    width: 65%;
  }

  .buttons-nav {
    font-size: 16px;
  }
}

@media(max-width: 1200px) {
  .nav-third {
    width: 60%;
  }
}
